body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
.noto-serif-hk {
  font-family: "Noto Serif HK", serif;
  font-optical-sizing: auto;
  font-weight: 400; /* Use actual font-weight values like 400, 500, 700, etc. */
  font-style: normal;
}
